<h2>All Historical Landmarks</h2>
<form action="/landmarks" method="POST">
Landmark Name:<input type="text" name="name">
Landmark year: <input type="text" name="year_completed">
<input type="submit" name="submit">
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
